# OS Files
.DS_Store


# IDE Files
.idea/
.vscode/

# Python venv
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# mypy
.mypy_cache/

# Ruff
.ruff_cache/

# Latex
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz

# data
/data/



